@use "@/styles/partials/utils";

.registration-form {
    @include utils.flex-container($jc: center);

    &__input {
        &-group {
            display: grid;
            grid-template-columns: minmax(250px, 1fr);
        }

        &-combined {
            @include utils.flex-container();

            &-item {
                @include utils.flex-container($direction: column);
            }
        }

        &__btn {
            &--register {
                width: 100%;
                margin-top: 15px;
                background-color: var(--brand-300);
                color: white;
                font-weight: 500;

            }

            &-group {
                @include utils.flex-container($jc: space-between);
                gap: 0.8rem;

                &>button {
                    flex: 1;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    color: var(--foreground);
                    padding: 1px 3px;
                    background-color: transparent;
                    border: 1px solid #EFEFEF;
                    gap: 8px;
                }
            }
        }

        &__oauth {
            margin-top: 1.5rem;

            &-text {
                text-align: center;
                color: var(--quaternary);
                @include utils.flex-container($ai: center);
                gap: 12px;


                &::before,
                &::after {
                    content: "";
                    flex-grow: 1;
                    flex-shrink: 1;
                    height: 1px;
                    background-color: var(--quaternary);
                }
            }
        }
    }


}